:root {
  --card-height: 55vh;
  --card-width: calc(var(--card-height) / 1.5);
}

#card {
  background: #71436f;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
}

#card:hover {
  color: #92ECB6;
  transition: color 0.1s;
}

#card:hover:before, #card:hover:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s;
}

#card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background: linear-gradient(
    #382536, #382536 43%, #382536
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: none;
  transform: scale(0);
}

#card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0);
  filter: blur(calc(var(--card-height) / 6));
  background: linear-gradient(
    #382536, #382536 43%, #382536
  );
  opacity: 0;
  animation: none;
}


#card-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

#card-shape-divider svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 15px;
}

#card-shape-divider #shape-fill {
  fill: #71436f;
}
