.custom-shape-divider-bottom-1697562712 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-bottom-1697562712 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 224px;
  transform: rotateY(180deg);
  filter:
        drop-shadow(-1px -1px 0px #2a0928)
        drop-shadow(2px -1px 0px #2a0928)
        drop-shadow(2px 2px 0px #2a0928)
        drop-shadow(-1px 2px 0px #2a0928)
}

.custom-shape-divider-bottom-1697562712 .shape-fill {
  fill: #2a0928;
}