#shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

#shape-divider svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 391px;

  filter:
        drop-shadow(-1px -1px 0px #2a0928)
        drop-shadow(2px -1px 0px #2a0928)
        drop-shadow(2px 2px 0px #2a0928)
        drop-shadow(-1px 2px 0px #2a0928)
}

#shape-divider #shape-fill {
  fill: #2a0928;
}